* text=auto

*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.tex text eol=lf
*.bib text eol=lf
*.json text eol=lf
*.dat text eol=lf
*.blocks text eol=lf
*.nets text eol=lf
*.pl text eol=lf
*.scl text eol=lf

*.pdf binary
*.png binary
*.pt binary
*.npz binary
*.npy binary

